@tailwind base;
@tailwind components;
@tailwind utilities;

.product-large-preview {
    color: white;
    margin-top: 42px;
}

.sliding-text-rtl {
    overflow-x: hidden;
}

.sliding-text-rtl p {
    animation: slide 120s linear infinite;
}

.caci-header {
    top: 28px;
    position: fixed;
    transition: top 0.1s linear;
    z-index: 160;
}

.caci-header.scroll {
    top: 0;
    transition: top 0.1s linear;
}

.caci-header-inner {
    transition: height 0.2s ease 0s;
}

.caci-cart-ajax {
    z-index: 500;
}

.top-bar {
    z-index: 151;
}

.mobile-menu {
    z-index: 150;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-400px);
    }
}


/* mobile breakpoint at 768px */
@media only screen and (max-width: 768px) {
    .caci-header, .caci-header-inner, .caci-header.scroll {
        transition: none;
    }
}