@tailwind base;
@tailwind components;
@tailwind utilities;

.product-large-preview {
    color: white;
}

.sliding-text-rtl {
    overflow-x: hidden;
}

.sliding-text-rtl p {
    animation: slide 120s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-400px);
    }
}