@tailwind base;
@tailwind components;
@tailwind utilities;

.product-large-preview {
    color: white;
    margin-top: 42px;
}

.sliding-text-rtl {
    overflow-x: hidden;
}

.sliding-text-rtl p {
    animation: slide 120s linear infinite;
}

.caci-header {
    top: 28px;
    position: fixed;
    transition: top 0.1s ease;
    z-index: 100;
}

.caci-header.scroll {
    top: 0;
    transition: top 0.1s ease;
}

.caci-header-inner {
    transition: height 0.3s ease 0s;
}

.caci-cart-ajax {
    z-index: 500;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-400px);
    }
}